<h1>Raport nieocenionych zadań</h1>
<p>Raport stopniowo jest uzupełniany o kolejne pozycje w miarę wykonania skryptu generującego raport.<br>
    Pod linkiem <a href='http://www.raporty.example.com/sidekiq'>postęp generowania</a> możesz śledzić postępy wykonania.
</p>

<table class="table">
	<thead>
	  <tr>
	    <th scope="col">Nauczyciel</th>
	    <th scope="col">Email nauczyciela</th>
	    <th scope="col">Nazwa kursu</th>
	    <th scope="col">Nazwa tematu</th>
	    <th scope="col">Nazwa zadania</th>
	    <th scope="col">Uczniowie (autorzy zadań) - te dane nie są zawarte w wysyłanym w mailu</th>
	    <th scope="col">Akcje</th>
	  </tr>
	</thead>
	<tbody>
		<% colour_swap = true %>

			<% @reports_by_teacher.each_pair do |teacher_email, hsh| %>
				<% colour_swap = !colour_swap %>
				<tr class=<%= get_colour_class(colour_swap) %>>
					<td><%= hsh["fullname"] %></td>
					<td><%= teacher_email %></td>
					
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<%= form_tag(notify_teacher_reports_path(teacher_email: teacher_email, end_date: @end_date), :method => :post, :remote => :true, :class => 'internal') do %>
							<%= hidden_field_tag "reports_hash", hsh.to_json %>
							<%= submit_tag "Wyślij e-mail" %>
						<% end %>
					</td>
				</tr>
				<% hsh["courses"].each_pair do |course_name, course_hsh| %>
					<% course_hsh.each_pair do |topic_name, topic_hsh| %>
						<% topic_hsh.each_pair do |assignment_name, assignment_arr| %>
							<tr class=<%= get_colour_class(colour_swap) %>>
								<td><%= hsh["fullname"] %></td>
								<td><%= teacher_email %></td>
								
								<td><%= course_name %></td>
								<td><%= topic_name %></td>
								<td><%= assignment_name %></td>
								<td><%= MoodleUser.where(id: assignment_arr).pluck(:email).to_s %></td>
								<td></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		
	</tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>

<br><br>
