<h1>Raport nieocenionych zadań</h1>
<table class="table">
	<thead>
	  <tr>
	    <th scope="col">Nauczyciel</th>
	    <th scope="col">Email nauczyciela</th>
	    <th scope="col">Nazwa kursu</th>
	    <th scope="col">Nazwa tematu</th>
	    <th scope="col">Nazwa zadania</th>
	  </tr>
	</thead>
	<tbody>
		<% colour_swap = true %>
		<% @notgraded_submissions.each_pair do |teacher_email, hsh| %>
			<% colour_swap = !colour_swap %>
			<% hsh["courses"].each_pair do |course_name, course_hsh| %>
				<% course_hsh.each_pair do |topic_name, topic_hsh| %>
					<% topic_hsh.each_pair do |assignment_name, assignment_hsh| %>
						<tr class=<%= get_colour_class(colour_swap) %>>
							<td><%= hsh["fullname"] %></td>
							<td><%= teacher_email %></td>
							
							<td><%= course_name %></td>
							<td><%= topic_name %></td>
							<td><%= assignment_name %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>

<br><br>
